.body{
    margin: 0px;
}

.header{
    width: 100%;
    height: 65px;
    background-color: #ce0505;
   
    
}

.sign{
    position: absolute;
    top: 10px;
    left: 80px;
}
.heading{
    width: 40px;
    height: 50px;
    background-color: #ffffff;
    font-family: Poppins;
    font-size: 33px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: #eb2929;
    border-radius: 50%;
    padding-left: 15px;
}

.places{
  width: 512px;
  height: 51px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  color: #192f60;
  margin-top: 30px;
  margin-left: 70px;

}
.importent{
    margin-left: 70px;
    margin-top: 50px;
    width: 250px;
    height: 760px;
    padding: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    position: relative;
}
.happyness{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #192f60;
}

.sadness{
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #192f60;
  position: relative;
  top: -15px;
}


.sun{
    width: 208px;
    height: 35px;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px #8c96ab;
    position: relative;
    top:-25px;
}

.strength{
  width: 106px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #8c96ab;
}

.moon1{
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #192f60;
}

.cool1{
    width: 18px;
    height: 18px;
    border-radius:3px;
    border: solid 1.5px #3a5075;
}
.cool2{
    width: 18px;
    height: 18px;
    border-radius:3px;
    border: solid 1.5px #3a5075;
    position: relative;
    top: -50px;
}
.cool3{
    width: 18px;
    height: 18px;
    border-radius:3px;
    border: solid 1.5px #3a5075;
    position: relative;
    top: -100px;
    
}
.cool4{
    width: 18px;
    height: 18px;
    border-radius:3px;
    border: solid 1.5px #3a5075;
    position: relative;
    top: -150px;
    
}
.cool5{
    width: 18px;
    height: 18px;
    border-radius:3px;
    border: solid 1.5px #3a5075;
    position: relative;
    top: -200px;
}
.milk1{
  width: 85px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #8c96ab;
  position: relative;
  top:-38px ;
  left: 40px;
}
.milk2{
  width: 85px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #8c96ab;
  position: relative;
  top:-88px ;
  left: 40px;
}
.milk3{
    width: 85px;
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #8c96ab;
    position: relative;
    top:-138px ;
    left: 40px;
}
.milk4{
    width: 85px;
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #8c96ab;
    position: relative;
    top:-188px;
    left: 40px;
}

.milk5{
    width: 85px;
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #8c96ab;
    position: relative;
    top:-238px;
    left: 40px; 
}
.moon2{
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #192f60;
    position: relative;
    top: -220px;
}

.hot1{
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: solid 1.5px #3a5075;
  position: relative;
  top: -230px;
}

.hot2{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: solid 1.5px #3a5075;
    position: relative;
    top: -290px;
   
}
.hot3{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: solid 1.5px #3a5075;
    position: relative;
    top: -350px;
   
}

.hot4{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: solid 1.5px #3a5075;
    position: relative;
    top: -410px;
    
}

.hot5{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: solid 1.5px #3a5075;
    position: relative;
    top: -470px;
}

.tea1{
    width: 106px;
    height: 20px;
    
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
   
    color: #8c96ab;
    position: relative;
    left: 40px;
    top: -270px;
}
 
.tea2{
    width: 106px;
    height: 20px;
    
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
   
    color: #8c96ab;
    position: relative;
    left: 40px;
    top: -330px;
}
 
.tea3{
    width: 106px;
    height: 20px;
    
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
   
    color: #8c96ab;
    position: relative;
    left: 40px;
    top: -390px;
}
.tea4{
    width: 106px;
    height: 20px;
    
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
   
    color: #8c96ab;
    position: relative;
    left: 40px;
    top: -450px;
}

.tea5{
    width: 106px;
    height: 20px;
    
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
   
    color: #8c96ab;
    position: relative;
    left: 40px;
    top: -510px;
}

.moon3{
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #192f60;
    position: relative;
    top: -500px;
}

.hot6{
    
        width: 18px;
        height: 18px;
        border-radius: 9px;
        border: solid 1.5px #3a5075;
        position: relative;
        top: -520px;
}

.hot7{
    
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: solid 1.5px #3a5075;
    position: relative;
    top: -600px;
}

.tea6{
    width: 106px;
    height: 20px;
    
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
   
    color: #8c96ab;
    position: relative;
    left: 40px;
    top: -560px;
}

.tea7{
    width: 106px;
    height: 20px;
    
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
   
    color: #8c96ab;
    position: relative;
    left: 40px;
    top: -640px;
}

.boss{
    position: relative;
    top: -700px;
    text-align: center;
    width: 700px;
    height: 291px;
    margin: auto;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.employa{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    
   position: absolute;
   left: 20px;
   border-radius: 10px;
}

.employeb{
  width: 298px;
  height: 43px;
  
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  
  color: #192f60;
  position: absolute;
  left: 170px;
}
.employec{
  width: 39px;
  height: 23px;
  
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  
  color: #192f60;
  position: absolute;
  top: 45px;
  left: 180px;
}

.employed{
  font-family: Poppins;
  font-size: 15px;
  font-weight:600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #8c96ab;
  position: absolute;
  top: 80px;
  left: 180px;
}

.employee{
    width:600px;
    border: dashed 1px #dedfe5;
    position: absolute;
    top: 150px;
    margin-left:20px;
    margin-right: 20px;
}

.boss-a{
    font-family: Poppins;
    font-size: 15px;
    font-weight:600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #8c96ab;
    position: absolute;
    top: 170px;
    left: 50px;
}
.boss-c{
    font-family: Poppins;
    font-size: 15px;
    font-weight:600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #8c96ab;
    position: absolute;
    top: 190px;
    left: 50px;
}
.boss-b{
    font-family: Poppins;
    font-size: 15px;
    font-weight:600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #192f60;
    position: absolute;
    top: 170px;
    left: 170px;
}

.boss-d{
    font-family: Poppins;
    font-size: 15px;
    font-weight:600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #192f60;
    position: absolute;
    top: 190px;
    left: 170px;
}

.boss-ba{
    position: relative;
    top: -680px;
    text-align: center;
    width: 700px;
    height: 291px;
    left:400px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.employa-a{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    
   position: absolute;
   left: 20px;
   border-radius: 10px;
}

.employe-b{
    width: 298px;
    height: 43px;
    
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    
    color: #192f60;
    position: absolute;
    left:130px;
}

.employe-c{
    width: 39px;
    height: 23px;
    
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    
    color: #192f60;
    position: absolute;
    top: 45px;
    left: 180px;
}

.employe-d{
    font-family: Poppins;
    font-size: 15px;
    font-weight:600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #8c96ab;
    position: absolute;
    top: 80px;
    left: 180px;
}

.employe-e{
    width:600px;
    border: dashed 1px #dedfe5;
    position: absolute;
    top: 150px;
    margin-left:20px;
    margin-right: 20px;
}

.boss--a{
    font-family: Poppins;
    font-size: 15px;
    font-weight:600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #8c96ab;
    position: absolute;
    top: 170px;
    left: 50px;
}
.boss--c{
    font-family: Poppins;
    font-size: 15px;
    font-weight:600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #8c96ab;
    position: absolute;
    top: 190px;
    left: 50px;
}
.boss--b{
    font-family: Poppins;
    font-size: 15px;
    font-weight:600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #192f60;
    position: absolute;
    top: 170px;
    left: 170px;
}

.boss--d{
    font-family: Poppins;
    font-size: 15px;
    font-weight:600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #192f60;
    position: absolute;
    top: 190px;
    left: 170px;
}

.big{
   position: absolute;
   top:950px;
   left:550px;
}
.small{
  width: 15px;
  height: 15px;
  margin: 3px;
  padding: 6px;
  border-radius: 7px;
  border: solid 1px #8c96ab;
  background-color: #8c96ab;
  display: inline-block;
}
.smalla{
    width: 15px;
    height: 15px;
    padding: 6px;
    opacity: 0.4;
    border-radius: 7px;
    border: solid 1px #8c96ab;
    background-color: #ffffff;
    display: inline-block;
}